@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 67.5%;
}

html:hover {
    cursor: auto;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(59, 59, 59);
    color: #fff;
}

#root {
    height: 100%;
    display: flex;
}

button:hover {
    cursor: pointer;
}

.game-container {
    width: 100%;
    margin: 5px 20px;
    display: flex;
}

.info-container {
    width: 80%;
}

.info-container h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 90%;
}

.info-container h2 {
    margin-bottom: 15px;
    width: 90%;
}

.info-container p{
    width: 80%;
    margin-bottom: 20px;
}

.grid-btns {
    display: flex;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    padding: 1px;
}

.grid:hover {
    cursor: pointer;
}

.buttons {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.buttons button,
.buttons input {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.main-btns {
    margin-bottom: 5px;
    display: flex;
}

.main-btns button {
    font-size: 1rem;
    margin-right: 10px;
}

.main-btns input {
    direction: rtl;
}

.skip-btn {
    margin-top: 5px;
}

.skip-btn button {
    font-size: 1rem;
}

.box-alive {
    width: 12px;
    height: 12px;
    border: solid 1px rgb(197, 197, 197);
    background-color: #fffb00;
}

.box-dead {
    width: 12px;
    height: 12px;
    border: solid 1px rgb(197, 197, 197);
    background-color: #747474;
}
